@CHARSET "UTF-8";

body 
{
	margin:0; padding:0; 
	background:url("taust.jpg") center fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

div#headerwrap {width:800px; height:40px; margin:100px auto 0 auto;}
div#gameAreaWrapper {width:800px; height:400px; margin:0 auto 0 auto; background:grey;}









input[type="button"]{}
div#headerwrap button.link {background:none transparent;border:none;}
