body 
{
	margin:0; padding:0; 
	background:url("../media/taust.jpg") center fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

div#headerwrap {width:800px; height:40px; margin:100px auto 0 auto; position:relative;}
div#gameAreaWrapper {width:800px; height:400px; margin:0 auto 0 auto; background:grey; position:relative;}
div#accounts {width:400px;}
div#end_score {width:400px;}

div#questionText {width:100%; padding:10px 0; text-align:center;}
img.choice {position:absolute; cursor:pointer;}


input[type="button"]{}
div#headerwrap button.link {background:none transparent;border:none;}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50; top:15px; right:100px;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}